<!DOCTYPE html>
<!--suppress XmlDuplicatedId -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth Components</title>
</head>

<body>

    <div th:fragment="logout-button-blog" id="login-container">
        <h4>Logged in as <span sec:authentication="name"></span>.</h4>
        <button hx-post="/logout" hx-target="#login-container" hx-swap="outerHTML" class="btn-secondary">Logout</button>
        <div sec:authorize="hasAuthority('ADMIN')" id="admin-btns">
            <button hx-get="/blog/post/createPost" hx-target="#main-content" hx-swap="outerHTML" class="btn-secondary">
                Create Post</button>
            <button hx-get="/blog/blogComponent/posts/inProgress" hx-target="#posts" hx-swap="outerHTML swap:200ms" class="btn-secondary">
                Get In Progress</button>
            <button hx-get="/categories" hx-target="#main-content" hx-swap="outerHTML" class="btn-secondary">
                Edit Categories</button>
        </div>
    </div>

    <div th:fragment="logout-button-post" id="login-container">
        <h4>Commenting as <span sec:authentication="name"></span>.</h4>
        <button hx-post="/logout" hx-target="#login-container" hx-swap="outerHTML" class="btn-secondary">Logout</button>
    </div>

    <div th:fragment="login-button-blog" id="login-container">
        <button onclick="openDialog('login-modal')" class="btn-secondary">Login</button>
        <div th:replace="~{components/auth-components::login-message}"></div>
    </div>

    <div th:fragment="login-button-post" id="login-container">
        <p>Please <button onclick="openDialog('login-modal')" class="btn-secondary">Login</button> to comment.</p>
        <div th:replace="~{components/auth-components::login-message}"></div>
    </div>

    <dialog th:fragment="login-dialog" id="login-modal" aria-labelledby="login-dialog-title" tabindex="-1" hx-on:htmx:after-swap="convertTimeToLocal()">
        <article th:replace="~{components/auth-components::login-article}"></article>
    </dialog>

    <article th:fragment="login-article" id="login-article">
        <header>
            <span id="login-dialog-title">Login</span>
            <button title="Close" aria-label="Close" onclick="closeDialog('login-modal')" class="close-btn btn-primary">X</button>
        </header>
        <form role="form" aria-label="Login form" hx-post="/login" hx-target="#login-container" hx-swap="outerHTML" method="post" hx-on::after-request="if(event.detail.successful) closeDialog('login-modal')">
            <label>Username:
                <input type="text" name="username" placeholder="Username" required/>
            </label>
            <label>Password:
                <input type="password" name="password" placeholder="Password" required/>
            </label>
            <input type="submit" value="Sign In" class="btn-primary"/>
        </form>
        <p>No account? <button class="btn-secondary" hx-get="/register" hx-target="#login-article" hx-swap="outerHTML">Register Here</button></p>
        <p th:replace="~{components/auth-components::login-message}"></p>
    </article>

    <article th:fragment="register-article" id="register-article">
        <header>
            <span id="login-dialog-title">Register</span>
            <button title="Close" aria-label="Close" onclick="closeDialog('login-modal')" class="close-btn btn-primary">X</button>
        </header>
        <form role="form" aria-label="Register form" hx-post="/register" hx-target="#register-article" hx-swap="outerHTML" method="post">
            <label>Email:
                <input type="text" name="email" placeholder="Email" th:value="${userDto.email}" required/>
                <small>Your email will only be used to validate your account.</small>
                <small th:errors="${userDto.email}" class="error"></small>
            </label>
            <label>Username:
                <input type="text" name="username" placeholder="Username" th:value="${userDto.username}" required/>
                <small th:errors="${userDto.username}" class="error"></small>
            </label>
            <label>Password:
                <input type="password" name="password" placeholder="Password" required/>
                <small th:errors="${userDto.password}" class="error"></small>
            </label>
            <label>Confirm Password:
                <input type="password" name="confirmPassword" placeholder="Password" required/>
                <small th:errors="${userDto.confirmPassword}" class="error"></small>
            </label>
            <input type="submit" value="Register" class="btn-primary"/>
        </form>
        <p>Back to <button class="btn-secondary" hx-get="/loginForm" hx-target="#register-article" hx-swap="outerHTML">Login</button></p>
    </article>

    <p th:fragment="login-message" id="login-message" >
        <span th:if="${loginError}">
            <small th:text="${loginError}" class="error"></small><small th:if="${validUntil}" th:text="${validUntil}" id="timeExpiration"></small>
                <br>
                <button th:if="${validUntil}" hx-get="/validate" hx-target="#login-article" hx-swap="outerHTML" class="btn-secondary">Enter Code</button>
                <button th:if="${expired}" hx-get="/resendValidation" hx-target="#login-article" hx-swap="outerHTML" class="btn-secondary">Resend Code</button>
        </span>
        <small th:if="${param.logout}" class="error">You have logged out.</small>
        <small th:if="${param.sessionExpired}" class="error">Your session has expired. Please log in again.</small>
    </p>

    <article th:fragment="validate-prompt-article" id="register-article">
        <header>
            <span id="login-dialog-title">Register</span>
            <button title="Close" aria-label="Close" onclick="closeDialog('login-modal')" class="close-btn btn-primary">X</button>
        </header>
        <p>Thank you for registering!</p>
        <p>To validate your account, please check your email for a message from <strong>shawn.porfolio.blog@gmail.com</strong> for your one time password.</p>
        <form>
            <label>6-Digit Code:
                <input type="text" placeholder="000000" name="otp" required/>
            </label>
            <input type="submit" value="Validate" class="btn-primary" id="submitValidation"/>
        </form>
        <p>Back to <button class="btn-secondary" hx-get="/loginForm" hx-target="#register-article" hx-swap="outerHTML">Login</button></p>
    </article>

    <!-- for initial load, oob swap requires there be an element with the ID before swapping otherwise it is discarded by HTMX -->
    <span th:fragment="csrf-token" id="csrf-token" th:data-token="${_csrf.token}" th:data-header="${_csrf.headerName}"></span>

    <span th:fragment="csrf-token-oob" id="csrf-token" th:data-token="${_csrf.token}" th:data-header="${_csrf.headerName}" hx-swap-oob="true"></span>

</body>
</html>

