<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth Components</title>
</head>

<body>

    <div th:fragment="logout-button" class="login-container">
        <h4>Logged in as <span sec:authentication="name"></span>.</h4>
        <button hx-post="/logout" hx-target=".login-container" hx-swap="outerHTML" class="btn-primary">Logout</button>
        <button sec:authorize="hasAuthority('ADMIN')" hx-get="/blog/post/createPost" hx-target="#main-content" hx-swap="innerHTML" class="btn-primary">
            Create Post
        </button>
    </div>

    <div th:fragment="login-button" class="login-container">
        <p>Please log in to comment.</p>
        <button onclick="getElementById('login-modal').showModal()" class="btn-primary">Login</button>
        <small th:if="${param.logout != null}" th:text="${logout}"></small>
    </div>

    <dialog th:fragment="login-dialog" id="login-modal" th:open="${loginError}">
        <article>
            <header>
                <span>Login</span>
                <button aria-label="Close" onclick="closeDialog()" class="close-btn btn-primary">X</button>
            </header>
            <form hx-post="/login" hx-target=".login-container" hx-swap="outerHTML" method="post" hx-on::after-request="if(event.detail.successful) closeDialog()">

                <label>
                    Username:
                    <input type="text" name="username" placeholder="Username" required th:aria-invalid="${loginError}"/>
                </label>
                <label>
                    Password:
                    <input type="password" name="password" placeholder="Password" required th:aria-invalid="${loginError}"/>
                </label>
                <small th:if="${loginError}" class="error">Invalid username or password.</small>
                <input type="submit" value="Sign In" class="btn-primary"/>
            </form>
        </article>
    </dialog>

    <span th:fragment="csrf-token" id="csrf-token" th:data-token="${_csrf.token}" th:data-header="${_csrf.headerName}"></span>

    <span th:fragment="csrf-token-oob" id="csrf-token" th:data-token="${_csrf.token}" th:data-header="${_csrf.headerName}" hx-swap-oob="true"></span>

</body>
</html>

