<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog Components</title>
</head>
<body>

<!--blog dashboard components-->
<section th:fragment="all-posts" id="posts">
    <header>
        <h2 th:text="${categoryName + ' Posts'}"></h2>
        <p th:text="${categoryDesc}"></p>
        <button onclick="openDialog('categories-modal')" class="btn-primary">Filter by category</button>
        <button th:if="${categoryName != 'All'}" hx-get="/blog/blogComponent/posts" hx-target="#posts" hx-swap="outerHTML swap:150ms" class="btn-primary" hx-on:click="removeActiveCategories()">Show All</button>
    </header>

    <section id="post-container">
        <article th:each="post : ${posts}" class="post-card">
            <header>
                    <h4>
                        <span th:text="${post.title}"></span>
                        <span class="header-nav-arrow">
                            &#8594;
                        </span>
                    </h4>
                    <a th:href="@{/blog/post/{slug}(slug = ${post.slug})}" th:hx-get="@{/blog/post/{id}(id = ${post.id})}" hx-target="#main-content" hx-swap="outerHTML swap:150ms">
                        <span>View Post</span>
                    </a>
                <small>@ <time th:text="${#temporals.format(post.createdAt, 'MMMM dd, yyyy')}"></time></small>
            </header>
            <section class="description">
                <img th:if="${!post.thumbnailUrl.isBlank()}" th:src="${post.thumbnailUrl}" th:alt="${post.thumbnailAlt}" class="post-thumbnail"/>
                <p th:text="${post.description}"></p>
            </section>
        </article>
    </section>
</section>

<section th:fragment="categories" id="categories">
    <dialog id="categories-modal" aria-labelledby="categories-container-title" tabindex="-1">
        <article>
            <header>
                <span id="categories-container-title">Filter By:</span>
                <button aria-label="Close" onclick="closeDialog('categories-modal')" class="close-btn btn-primary">X</button>
            </header>
        <div id="categories-container">
            <button class="category-selection btn-secondary"
                    th:each="category : ${categories}"
                    th:hx-get="@{/blog/blogComponent/posts(categoryName=${category.name})}"
                    hx-target="#posts"
                    hx-swap="outerHTML swap:150ms"
                    onclick="closeDialog('categories-modal')"
                    th:text="${category.name}">
            </button>
        </div>
        </article>
    </dialog>
    <script>
        function removeActiveCategories() {
            document.querySelectorAll('.category-selection').forEach((el) => {
                el.classList.remove('active-category');
                el.disabled = false;
            })
        }
        document.getElementById('categories-container').addEventListener('click', function (e) {
            const target = e.target.closest('.category-selection');
            if (target) {
                removeActiveCategories();
                target.classList.add('active-category');
                target.disabled = true;
            }
        });
    </script>
</section>

</body>
</html>