<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog Components</title>
</head>
<body>

<section th:fragment="all-posts" id="posts">
    <article th:each="post : ${posts}">
        <header>
            <h5 th:text="${post.title}"></h5>
            <span>@ <small th:text="${#temporals.format(post.createdAt, 'MMMM dd, yyyy')}"></small></span>
        </header>

        <p th:text="${post.description}"></p>

        <footer>
            <small th:each="category : ${post.categories}">
                <a th:hx-get="@{/blog/blogComponent/posts(category=${category})}" hx-target="#posts" hx-swap="innerHTML swap:200ms" th:text="${category}"/>
            </small>
        </footer>
    </article>
</section>

</body>
</html>