<!DOCTYPE html>
<!--suppress XmlDuplicatedId -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

    <form th:fragment="comment-form-enabled" id="comment-form" action="/comment" method="POST">
      <label>Write Comment:
        <textarea rows="3"></textarea>
      </label>
      <input type="submit" value="Post" class="btn-primary">
    </form>

  <article th:fragment="comment-container" id="comment-container">
    <h3>Comments</h3>
    <p th:if="${comments.size() == 0}">No comments...</p>
    <article th:each="comment : ${comments}" class="comment">
      <header>
        <div>
          <strong><small th:text="${comment.author.username}"></small></strong>
          <small>commented</small>
          <small>on <time th:text="${#temporals.format(comment.createdAt, 'MMMM dd, yyyy')}"></time></small>
        </div>
      </header>
      <section class="comment-content">
        <p th:text="${comment.content}"></p>
      </section>
    </article>
  </article>

  <section th:fragment="comment-section" id="comments-section">
    <section id="comment-form-container" hx-trigger="loginSuccess from:body" hx-get="/comment/commentComponent/commentForm" hx-swap="innerHTML swap:150ms" hx-target="this">
      <div sec:authorize="isAuthenticated()" th:replace="~{components/comment-components :: comment-form-enabled}"></div>
    </section>

    <section id="comment-container">
      <button class="btn-secondary" th:hx-get="@{/comment/all/{entryId}(entryId = ${entry.id})}" hx-target="#comment-container" hx-swap="outerHTML swap:150ms">View Comments</button>
    </section>
  </section>

</body>
</html>