<!DOCTYPE html>
<!--suppress XmlDuplicatedId -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
  <!-- comment input form -->
  <!-- entry.id used on initial 'single-post' page render (if authenticated), entryId used on HTMX trigger 'loginSuccess' -->
  <form th:fragment="comment-form-enabled" th:id="${commentDto.parentCommentId == null ? 'comment-form' : 'reply-form-'+ commentDto.parentCommentId}"
        th:hx-post="@{(${commentDto.parentCommentId == null ? '/comment/createComment' : '/comment/createReply'})}" hx-target="this" hx-swap="outerHTML" class="comment-input">
    <input type="hidden" name="entryId" th:value="${commentDto.entryId != null ? commentDto.entryId : entry.id}"/>
    <input th:if="${commentDto.parentCommentId != null}" type="hidden" name="parentCommentId" th:value="${commentDto.parentCommentId}"/>
    <label class="margin-bottom"><strong th:text="${commentDto.parentCommentId == null ? 'Write Comment' : 'Reply'} + ':'"></strong>
      <textarea name="content" rows="3" th:text="${commentDto.content}" th:id="${commentDto.parentCommentId == null ? 'comment-textarea' : 'reply-textarea-'+ commentDto.parentCommentId}"></textarea>
      <small th:errors="${commentDto.content}" class="error"></small>
    </label>
    <div class="form-group">
      <input type="submit" th:value="'Post ' + ${commentDto.parentCommentId == null ? 'Comment' : 'Reply'}" class="btn-secondary">
      <button type="button" class="btn-secondary" th:if="${commentDto.parentCommentId != null}"
              th:data-cancelid="${commentDto.parentCommentId == null ? 'comment-form' : 'reply-form-'+ commentDto.parentCommentId}" onclick="removeElement(this.getAttribute('data-cancelid'))">Cancel</button>
    </div>
    <div th:if="${noAuth}" class="no-auth-msg">
      <small class="error">Please </small>
      <button onclick="openDialog('login-modal')" class="btn-secondary">Login</button>
      <small class="error">to comment.</small>
    </div>
    <small th:if="${noComment}" th:text="${noComment}" class="error"></small>
  </form>

  <!--edit comment input form-->
  <form th:fragment="edit-comment-form" th:id="${'edit-form-'+ commentDto.commentId}" hx-post="/comment/editComment" hx-target="this" hx-swap="outerHTML" class="comment-input">
    <input type="hidden" name="entryId" th:value="${commentDto.entryId}"/>
    <small th:errors="${commentDto.entryId}" class="error"></small>
    <input type="hidden" name="commentId" th:value="${commentDto.commentId}"/>
    <label class="margin-bottom"><strong>Edit Comment:</strong>
      <textarea name="content" rows="3" th:text="${commentDto.content}"></textarea>
      <small th:errors="${commentDto.content}" class="error"></small>
    </label>
    <div class="form-group">
      <input type="submit" value="Save" class="btn-secondary">
      <button type="button" class="btn-secondary" th:data-cancelid="${'edit-form-'+ commentDto.commentId}" onclick="removeElement(this.getAttribute('data-cancelid'))">Cancel</button>
    </div>
    <small th:if="${noComment}" th:text="${noComment}" class="error"></small>
    <small th:if="${badEdit}" th:text="${badEdit}" class="error"></small>
  </form>

  <!--single comment card-->
  <section th:fragment="single-comment(commentItem, isReply)" class="comment" th:id="${'comment-'+ commentItem.id}"
           th:data-entryId="${commentItem.blogEntryId}" th:data-commentId="${commentItem.id}" th:data-authorName="${commentItem.author.username}" th:data-deleted="${commentItem.deleted}">
    <div th:if="${isReply}" class="denote-reply"><strong>&#8600;</strong></div>
    <header>
        <div>
          <strong>
            <span th:if="${!isReply}" class="denote-parent-comment">&#187; </span><small th:text="${commentItem.author.username}"></small>
          </strong>
          <small th:text="${isReply ? 'replied' : 'commented'}"></small>
        </div>
        <div class="inline">
          <small th:id="${'comment-time-'+ commentItem.id}" th:with="display=${commentItem.updatedAt == null ? 'created' : (commentItem.deleted ? 'deleted' : 'updated')} +' on'">
            <i><span th:text="${display}"></span>
              <time th:text="${#temporals.format(commentItem.createdAt, 'MMMM dd, yyyy @ h:mm a')}"></time>
            </i>
          </small>
          <div class="comment-author-btns" th:with="isAuthor=${#authentication.name == commentItem.author.username}, isAdmin=${#authorization.expression('hasAuthority(''ADMIN'')')}">
            <div th:if="${isAdmin || isAuthor}">
              <button class="btn-secondary edit-btn" th:hx-get="@{/comment/commentComponent/editForm(entryId = ${commentItem.blogEntryId}, commentId = ${commentItem.id})}"
                      th:hx-target="'#reply-form-container-' + ${commentItem.id}" hx-swap="beforeend">Edit</button>
              <button th:if="${!commentItem.deleted}" class="btn-secondary" th:hx-delete="@{/comment/delete(entryId = ${commentItem.blogEntryId}, commentId = ${commentItem.id})}" hx-swap="delete">Delete</button>
            </div>
          </div>
        </div>
    </header>
    <section class="comment-content">
      <p th:if="${commentItem.deleted}" th:id="${'comment-content-'+ commentItem.id}"><i th:text="${commentItem.content}"></i></p>
      <p th:unless="${commentItem.deleted}" th:id="${'comment-content-'+ commentItem.id}" th:text="${commentItem.content}"></p>
      <div class="reply-form-container" th:id="'reply-form-container-' + ${commentItem.id}">
        <button th:if="${!commentItem.deleted}" class="btn-secondary" th:hx-get="@{/comment/commentComponent/commentForm(entryId = ${commentItem.blogEntryId}, parentCommentId = ${commentItem.id})}"
                hx-target="closest .reply-form-container" hx-swap="beforeend">Reply</button>
      </div>
    </section>
    <section class="comment-replies" th:id="'replies-' + ${commentItem.id}">
      <button  th:if="${commentItem.replyCount > 0}" th:hx-get="@{/comment/replies(parentId = ${commentItem.id}, entryId = ${commentItem.blogEntryId})}"
              hx-target="closest .comment-replies" hx-swap="outerHTML" class="btn-secondary btn-get-replies" th:text="${'View '+ (commentItem.replyCount > 1 ? commentItem.replyCount + ' replies' : '1 reply')}"></button>
    </section>
  </section>

  <!--used for swapping in single parent comment to #comment-list after submission-->
  <div th:fragment="single-comment-oob" hx-swap-oob="afterbegin:#comment-list">
    <section th:replace="~{components/comment-components::single-comment(${commentItem}, ${isReply})}"></section>
  </div>

  <!--used for swapping in single reply comment to top of #replies-parentId container after submission-->
  <div th:fragment="single-reply-oob" th:hx-swap-oob="'afterbegin:#replies-' + ${commentItem.parentCommentId}">
    <section th:replace="~{components/comment-components::single-comment(${commentItem}, ${isReply})}"></section>
  </div>

  <!-- used for updated display and time after update-->
  <small th:fragment="edit-single-comment-time-oob" th:id="${'comment-time-'+ commentItem.id}" th:hx-swap-oob="'outerHTML:#comment-time-' + ${commentItem.id}" th:with="display=${commentItem.deleted ? 'deleted' : 'updated'} +' on'">
    <i><span th:text="${display}"></span>
      <time th:text="${#temporals.format(commentItem.updatedAt, 'MMMM dd, yyyy @ h:mm a')}"></time>
    </i>
  </small>

  <!--used for updated content after edit-->
  <p th:fragment="edit-single-comment-content-oob" th:id="${'comment-content-'+ commentItem.id}" th:hx-swap-oob="'outerHTML:#comment-content-' + ${commentItem.id}">
    <i th:if="${commentItem.deleted}" th:text="${commentItem.content}"></i>
    <th:block th:unless="${commentItem.deleted}" th:text="${commentItem.content}"></th:block>
  </p>

  <!--contains all comments after user clicks "View Comments"-->
  <section th:fragment="comment-container" id="comment-container">
    <h4>Comments</h4>
    <div id="comment-list">
      <p th:if="${comments.size() == 0}" class="no-comments-msg">No comments...</p>
      <th:block th:each="commentObj : ${comments}">
        <section th:replace="~{components/comment-components::single-comment(${commentObj}, false)}"></section>
      </th:block>
    </div>
  </section>

  <!--contains each reply section-->
  <details th:fragment="comment-replies" class="comment-replies" th:id="'replies-' + ${parentId}" open>
    <summary title="show/hide replies"></summary>
    <th:block th:each="replyComment : ${replyComments}">
      <section th:replace="~{components/comment-components::single-comment(${replyComment}, true)}"></section>
    </th:block>
  </details>

  <!--initial empty comment section. if logged in, comment input form is also displayed-->
  <section th:fragment="comment-section" id="comments-section">
    <section id="comment-form-container" hx-trigger="loginSuccess from:body" th:hx-get="@{/comment/commentComponent/commentForm(entryId = ${entry.id})}" hx-swap="innerHTML" hx-target="this">
      <div sec:authorize="isAuthenticated()" th:replace="~{components/comment-components::comment-form-enabled}"></div>
    </section>

    <section id="comment-container">
      <h4>Comments</h4>
      <button class="btn-secondary margin-bottom" th:hx-get="@{/comment/all(entryId = ${entry.id})}" hx-target="#comment-container" hx-swap="outerHTML swap:150ms show:#auth-section:top">View Comments</button>
      <div id="comment-list"></div>
    </section>
  </section>

</body>
</html>