<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <article th:fragment="content-block(index, block)" class="content-block" th:attr="data-type=${block.type ?: 'HEADING'}">
        <label>Block Type:
            <select th:name="|contentBlocks[${index}].type|" onchange="this.closest('.content-block').dataset.type = this.value;">
                <option th:each="bt : ${blockTypes}" th:value="${bt.name}" th:text="${bt.name}" th:selected="${block.type?.name() == bt.name}"></option>
            </select>
        </label>

        <label class="text-field">Text:
            <textarea th:name="|contentBlocks[${index}].text|" th:text="${block.text}"></textarea>
        </label>

        <fieldset class="span-field" th:attr="data-next-index=${block.paragraphSpans.size()}">
            <legend>Span Fields:</legend>
            <th:block th:each="span, iter : ${block.paragraphSpans}">
                <div th:replace="~{components/post-components::span-block(${index}, ${iter.index}, ${span})}"></div>
            </th:block>
        </fieldset>
        <button type="button" class="add-span-btn"
                th:hx-get="@{/blog/postComponent/addSpanBlock(blockIndex=${index})}"
                hx-vals='js:{spanIndex: this.closest(".content-block").querySelector(".span-field").dataset.nextIndex++}'
                hx-target="previous .span-field"
                hx-swap="beforeend">
            + Add Inline Span
        </button>

        <fieldset class="image-fields">
            <label>Image URL:
                <input type="url" th:name="|contentBlocks[${index}].url|" th:value="${block.url}"/>
            </label>
            <label>Image Alt:
                <input type="text" th:name="|contentBlocks[${index}].alt|" th:value="${block.alt}"/>
            </label>
            <label>Image caption:
                <input type="text" th:name="|contentBlocks[${index}].caption|" th:value="${block.caption}"/>
            </label>
        </fieldset>
        <button type="button"
                onclick="if (confirm('Are you sure? Content will be lost!')) {
                    this.closest('.content-block').remove();
                    htmx.trigger('#byte-validator', 'block-removed');
                }"
        >- Remove Block</button>
    </article>

    <div th:fragment="span-block(blockIndex, spanIndex, span)" class="span-block" th:attr="data-type=${span?.spanType ?: 'NORMAL'}">
        <label>Span Type:
            <select th:name="|contentBlocks[${blockIndex}].paragraphSpans[${spanIndex}].spanType|" onchange="this.closest('.span-block').dataset.type = this.value;">
                <option th:each="st : ${spanTypes}" th:value="${st.name}" th:text="${st.name}" th:selected="${span?.spanType?.name() == st.name}"></option>
            </select>
        </label>
        <label>
            Span Text:
            <textarea th:name="|contentBlocks[${blockIndex}].paragraphSpans[${spanIndex}].spanText|" th:text="${span?.spanText ?: ''}"></textarea>
        </label>
        <label class="span-url-field">
            Span URL:
            <input type="url" th:name="|contentBlocks[${blockIndex}].paragraphSpans[${spanIndex}].spanUrl|" th:value="${span?.spanUrl ?: ''}"/>
        </label>
        <button type="button"
                onclick="if (confirm('Are you sure? Content will be lost!')) {
                    this.closest('.span-block').remove();
                    htmx.trigger('#byte-validator', 'block-removed');
                }"
        >- Remove Span</button>
    </div>

    <div th:fragment="byte-count" id="byte-count" hx-swap-oob="true">
        <span th:text="${byteCount}">Bytes</span><span> bytes used.</span>
    </div>

    <section th:fragment="admin-buttons(id)" id="admin-edit-post-btns" hx-trigger="loginSuccess from:body" th:hx-get="@{/blog/postComponent/adminButtons(id=${id})}" hx-target="this" hx-swap="outerHTML">
        <div sec:authorize="hasAuthority('ADMIN')">
            <button th:hx-get="@{/blog/post/editPost/{id}(id=${id})}" hx-target="#main-content" hx-swap="outerHTML" class="btn-primary">Edit</button>
            <button th:hx-delete="@{/blog/post/deletePost/{id}(id=${id})}" hx-target="#main-content" hx-swap="outerHTML" hx-confirm="Are you sure you want to delete this post?" class="btn-primary">Delete</button>
        </div>
    </section>

    <span th:fragment="empty-fragment"></span>

</body>
</html>