<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://cdn.shawnosborne.dev" crossorigin>
  <meta name="htmx-config" content='{"historyCacheSize": 0, "refreshOnHistoryMiss": true}'>
  <meta name="description" th:content="${metaDesc}"/>
  <link rel="stylesheet" href="https://cdn.shawnosborne.dev/static/fonts.css">
  <link rel="stylesheet" href="https://cdn.shawnosborne.dev/static/highlight.min.css">
  <link rel="stylesheet" href="https://cdn.shawnosborne.dev/static/main07.min.css">
  <script src="https://cdn.shawnosborne.dev/static/htmx.min.js" defer></script>
  <script src="https://cdn.shawnosborne.dev/static/main02.js" defer></script>
  <script src="https://cdn.shawnosborne.dev/static/sidebar04.js" defer></script>
  <script src="https://cdn.shawnosborne.dev/static/highlight.min.js" defer></script>
  <link rel="icon" href="https://cdn.shawnosborne.dev/images/favicon.svg" type="image/svg+xml">
  <title th:fragment="head-title" th:text="${title}"></title>
</head>
