<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="htmx-config" content='{"historyCacheSize": 0, "refreshOnHistoryMiss": true}'>
  <meta name="description" th:content="${metaDesc}"/>
  <!--Local  -->
<!--  <link rel="stylesheet" href="/main.css">
  <script src="/htmx.min.js" defer></script>
  <script src="/main.js" defer></script>
  <script src="/sidebar.js" defer></script>-->

  <!--S3-->
  <link rel="stylesheet" href="https://cdn.shawnosborne.dev/static/main.min.css">
  <script src="https://cdn.shawnosborne.dev/static/htmx.min.js" defer></script>
  <script src="https://cdn.shawnosborne.dev/static/main.js" defer></script>
  <script src="https://cdn.shawnosborne.dev/static/static/sidebar.js" defer></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anta&family=Sansation&display=swap" rel="stylesheet">
  <title th:fragment="head-title" th:text="${title}"></title>
</head>
