:root {
    --main-bg-color: rgb(47, 50, 51);
    --secondary-bg-color: rgb(51, 50, 47);
    --secondary-bg-color-muted: rgba(51, 50, 47, 0.65);

    --main-accent-color: rgb(179, 144, 68);
    --main-accent-color-muted: rgba(179, 144, 68, 0.65);
    --secondary-accent-color: rgb(68, 142, 179);
    --secondary-accent-color-muted: rgba(68, 142, 179, 0.65);
    --main-text-color: rgb(227, 230, 233);

    --transparent-color-dark: rgba(33, 33, 33, 0.5);
    --transparent-color-light: rgba(140, 140, 140, 0.5);
    --error-color: rgb(217, 30, 30);
}

/* todo : get a css minify extension for maven */

/* Layout Styles */

body {
    background-color: var(--main-bg-color);
    margin: 0;
}

#template {
    color: var(--main-text-color);
}

#main-header {
    background-color: var(--main-bg-color);
    padding: 0.5rem 0.5rem 0 0.5rem;
}

#main-content {
    background-color: var(--secondary-bg-color);
    padding: 0 0.5rem 0.5rem 0.5rem;
    min-height: calc(100vh - 6rem);
}

#main-header h2 {
    margin: 0;
    padding: 0;
}

#main-content h1 {
    margin: 0;
    padding: 2rem 0 1rem 0;
    font-size: 1.75rem;
}

#main-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 2px solid var(--main-accent-color);
    margin: 0;
}

#main-header section {
    display: none;
}

nav ul, ul.group {
    display: flex;
    gap: 1.15rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    cursor: pointer;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    padding: 0.5rem 0;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 0.75rem;
    border-top: 2px solid var(--main-bg-color);
    border-left: 1px solid var(--main-bg-color);
    border-right: 1px solid var(--main-bg-color);
    transition: all 250ms ease-in-out;
}

.nav-item > svg {
    display: none;
}

.nav-item:hover, .active {
    background-color: var(--secondary-accent-color-muted);
    border-radius: 0.25rem 0.25rem 0 0;
    border-top: 2px solid var(--main-accent-color);
    border-left: 1px solid var(--main-accent-color-muted);
    border-right: 1px solid var(--main-accent-color-muted);
    padding: 0.5rem;
    margin: 0 -0.5rem;
    fill: #fff;
    color: #fff;
}

.active:hover {
    background-color: var(--secondary-accent-color);
}

button, a, input[type = submit] {
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 0.25rem;
}

#posts, #main-content {
    opacity: 1;
    scale: 1;
    transition: all 200ms ease-in;
}

#posts.htmx-added, #posts.htmx-swapping,
#main-content.htmx-added {
    opacity: 0;
    scale: 0.95;
}

#categories-modal > article {
    max-width: 40rem;
    max-height: calc(100vh - 5rem);
    min-height: 8rem;
    overflow-y: scroll;
}
#categories-modal > article > header {
    position: sticky;
    top: 0;
}

#categories-container, .group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#categories-container {
    gap: 0.5rem;
    padding: 1rem;
}

#post-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

#post-container > .post-card header {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: var(--transparent-color-dark);
    border-radius: 0.25rem 0.25rem 0 0;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid var(--main-bg-color);
    user-select: none;
    cursor: pointer;
    transition: border 250ms ease-in-out;
}

#post-container > .post-card header:hover {
    border-bottom: 2px solid var(--secondary-accent-color);
}

#post-container header h4 {
    margin: 0;
}

#post-container header, .post-card footer {
    align-content: center;
}

.post-card {
    background-color: var(--main-bg-color);
    border-radius: 0.25rem;
}

.post-description {
    padding: 0 1rem;
}

.post-card footer {
    display: flex;
    padding: 0 1rem 0.25rem 1rem;
    background-color: var(--transparent-color-dark);
    border-radius: 0 0 0.25rem 0.25rem;
}

.btn-primary {
    background-color: var(--transparent-color-dark);
    border: 1px solid var(--main-accent-color-muted);
    color: var(--main-text-color);
    cursor: pointer;
    transition: all 250ms ease-in-out;
    padding: 0.5rem 0.75rem;
    font-weight: 500;
}

.btn-primary:hover, .active-category {
    background-color: var(--transparent-color-light);
    border: 1px solid var(--main-accent-color);
    color: #fff;
}

#post-content a {
    color: var(--main-text-color);
}

#error-section {
    margin: 1rem auto;
}

#error-field {
    margin: 1rem auto;
    font-size: 1.25rem;
}

/* FORM STYLES */
#post-content-input {
    width: 100%;
    max-width: 100%;
    height: 40vh;
    box-sizing: border-box;
    background-color: var(--transparent-color-dark);
    color: var(--main-text-color);
}
.close-btn {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

dialog {
    transition: opacity 250ms ease-in-out;
}

dialog[open] {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--transparent-color-dark);
}

dialog[open] > article {
    position: absolute;
    top: 15vh;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    border-radius: 0.25rem;
    color: var(--main-text-color);
    opacity: 1;
    transition: opacity 250ms ease-in-out;
    border: 1px solid var(--transparent-color-light);
}

dialog article header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0.5rem 0;
    padding: 0.25rem;
    background-color: var(--main-bg-color);
    border-radius: 0.25rem 0.25rem 0 0;
    border-bottom: 1px solid var(--transparent-color-light);
}

@starting-style {
    dialog, dialog[open] article {
        opacity: 0;
    }
}

dialog form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    padding: 0.5rem 1rem 1rem 1rem;
}

dialog article .error {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: var(--main-bg-color);
}

#byte-validator {
    display: none;
}

.error {
    color: var(--error-color);
}

/* 480-767 */
@media (min-width: 480px) {
    .nav-item svg {
        display: block;
        width: 0.9rem;
        fill: var(--main-text-color);
        transition: all 400ms ease-in-out;
    }
}

/* 768-1023 */
@media (min-width: 768px) {
    #main-header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem 0 2rem;
    }
    #main-header h2 {
        width: fit-content; !important;
    }
    nav ul {
        padding: 0;
        margin-bottom: 0;
    }
    .nav-item {
        margin-bottom: 0;
    }
    #main-content {
        padding: 0 2rem 2rem 2rem;
    }
    .post-card header h4 {
        font-size: 1.15rem;
    }
}

/* 1024 - 1359 */
@media (min-width: 1024px) {
    #template {
        display: flex;
    }
    #main-header {
        border-right: 2px solid var(--main-accent-color);
        border-bottom: none;
        height: 100vh;
        position: sticky;
        top: 0;
        padding: 0 0 0 calc(0.5rem + 2vw);
        max-width: 15rem;
        overflow-y: scroll;
    }
    #main-header, #main-header section {
        display: block;
    }
    #main-content h1 {
        font-size: 2rem;
    }
    #main-header h2 {
        width: 100%;
    }
    #main-header, #main-header h2, #main-header h3, #main-header h4 {
        margin: 0;
    }
    #main-header h2, #main-header nav, #main-header section {
        border-bottom: 2px solid var(--secondary-accent-color-muted);
        padding: 1.5rem 0;
    }
    #main-header nav ul {
        flex-direction: column;
        gap: 0.5rem;
    }
    #main-header nav ul li, .nav-item {
        text-align: left;
    }
    #main-content {
        margin: 0 calc(0.5rem + 2vw) 0 0;
        width: 100%;
        border-right: 2px solid var(--main-accent-color);
    }
    .nav-item {
        border-bottom: 2px solid var(--main-bg-color);
        border-left: 1px solid var(--main-bg-color);
        border-top: 1px solid var(--main-bg-color);
        margin-bottom: 0;
        padding-bottom: 0.5rem;
    }
    .nav-item:hover, .active {
        border-radius: 1rem 0 0 1rem;
        padding-left: 1rem;
        margin: 0;
        border-bottom: 2px solid var(--main-accent-color);
        border-left: 1px solid var(--main-accent-color);
        border-top: 1px solid var(--main-accent-color);
    }

    .nav-item svg {
        width: 0;
        opacity: 0;
    }
    .active svg {
        width: 1.25rem;
        opacity: 1;
    }
}

/* 1360 - 1920 */
@media (min-width: 1361px) {
    #main-content {
        padding: 0 5vw 2rem 5vw;
        width: 100%;
        margin-right: 10vw
    }
    #main-header {
        padding: 0 0 0 10vw;
    }
}
@media (min-width: 1920px) {
    #template {
        gap: 0;
        margin: auto;
    }
    #main-content {
        padding: 0 5vw 2rem 5vw;
        margin-right: 15vw
    }
    #main-header {
        padding: 0 0 0 15vw;
    }
}