:root {
    --main-bg-color: rgb(40, 40, 40);
    --secondary-bg-color: rgb(33, 33, 33);

    --accent-color: rgb(130, 255, 165);
    --accent-color-less-transparent: rgba(130, 255, 165, 0.75);
    --accent-color-transparent: rgba(130, 255, 165, 0.25);

    --color-dark: rgb(41, 41, 41);
    --color-light: rgb(105, 105, 105);
    --transparent-color-dark: rgba(41, 41, 41, 0.5);
    --transparent-color-light: rgba(105, 105, 105, 0.5);
    --more-transparent-color-dark: rgba(41, 41, 41, 0.25);
    --more-transparent-color-light: rgba(105, 105, 105, 0.25);

    --main-text-color: rgb(227, 230, 233);
    --main-text-color-transparent: rgba(227, 230, 233, 0.75);

    --error-color: rgb(255, 120, 120);
    --code-color: rgb(239, 223, 190);

    --header-font-family: "Anta";
    --main-text-font-family: "Sansation";
}

/* Layout Styles */
html {
    font-size: 95%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    margin: 0;
    font-family: var(--main-text-font-family), sans-serif;
}

main {
    background-color: var(--secondary-bg-color);
    width: 100%;
}

p, ul, ol {
    line-height: 2;
}

#main-content {
    padding: 2.5rem 0.5rem 4rem 0.5rem;
    opacity: 1;
    transition: opacity 150ms ease-in-out;
    min-height: calc(100vh - 8.5rem);
}

#main-content.htmx-swapping {
    opacity: 0;
}

#main-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    z-index: 3;
    gap: 0.5rem;
    border-bottom: 2px solid var(--color-light);
    margin: 0;
    padding: 0.5rem 0.5rem 0.25rem 0.5rem;
    background-color: var(--main-bg-color);
    position: sticky;
    top: 0;
    box-shadow: 0 4px 0 var(--secondary-bg-color),  0 5px 5px var(--secondary-bg-color);
}

#main-header h2 {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1;
}

#main-header h2 small {
    font-size: 0.9rem;
}

#main-content > header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#main-content > header h1 {
    margin: 0;
    font-size: 1.75rem;
}

h1, h2 {
    font-family: var(--header-font-family), sans-serif;
}

#main-content > header svg {
    width: 2rem;
    height: 2rem;
    fill: var(--accent-color-less-transparent);
}

#nav-container {
    display: grid;
    position: absolute;
    grid-template-rows: 0fr;
    opacity: 0;
    top: 3rem;
    left: 0;
    width: 100%;
    height: fit-content;
    transition: grid-template-rows 200ms ease-in-out, opacity 200ms ease-in-out;
}

.nav-container-open {
    grid-template-rows: 1fr !important;
    opacity: 1 !important;
    box-shadow: 0 4px 0 var(--secondary-bg-color),  0 5px 5px var(--secondary-bg-color);
}

#nav-container nav {
    background-color: var(--main-bg-color);
    overflow: hidden;
}

#menu-toggle-btn {
    background-color: var(--transparent-color-dark);
    padding: 0;
    height: 1.75rem;
    font-size: 1.5rem;
    border-color: var(--main-bg-color);
    font-weight: 700 !important;
}

.menu-open-toggle-btn {
    color: var(--accent-color) !important;
}

nav ul, ul.group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    padding: 0.5rem;
    margin: 0;
}

.nav-item {
    cursor: pointer;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0.25rem 1rem;
    transition: background-color 400ms ease-in-out, box-shadow 200ms ease-in-out;
    border-radius: 0.25rem;
}

.nav-spans {
    font-family: var(--header-font-family), sans-serif;
}

.nav-item span {
    color: var(--main-text-color);
    padding: 0;
}

.nav-item .secondary-span {
    display: none;
}

.nav-item svg {
    width: 1rem;
    height: 1rem;
    fill: var(--main-text-color);
    opacity: 0.5;
}

.nav-item:hover svg {
    opacity: 0.8;
    fill: var(--accent-color-less-transparent);
}
.nav-item.active svg {
    opacity: 1;
    fill: var(--accent-color-less-transparent);
}

.nav-item:hover, .nav-item.active {
    box-shadow: 0 -1px 0 var(--color-light), 0 1px 0 var(--color-light);
}

.nav-item.active {
    background-color: var(--transparent-color-light);
}

.nav-item .nav-spans, .nav-item svg {
    transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
    will-change: transform;
}

.nav-item:hover .nav-spans > span, .nav-item.active .nav-spans > span {
    color: #fff;
}

button, input[type = submit] {
    cursor: pointer;
    font-family: var(--main-text-font-family), sans-serif;
}

a, .denote-parent-comment, .denote-reply {
    color: var(--accent-color-less-transparent);
    font-family: var(--main-text-font-family), sans-serif;
}

a:hover {
    color: var(--accent-color);
}
.about-section {
    margin-top: 3rem;
    width: fit-content;
    scroll-margin-top: 40vh;
}
.about-section > h2, #welcome-text > h2 {
    padding-bottom: 0.5rem;
    border-bottom: 1px dashed var(--more-transparent-color-light);
}
.about-section ul {
    padding-left: 0.5rem;
    list-style: none;
}
#posts {
    opacity: 1;
    transition: opacity 150ms ease-in-out;
    margin-bottom: 2rem;
}
#posts.htmx-swapping {
    opacity: 0;
}

#posts > header {
    margin: 2rem 0 3rem 0;
}

#post-container, #edit-category-container {
    margin: 1.5rem 0;
}

article header {
    background-color: var(--main-bg-color);
    padding: 0.75rem;
}

.post-card header {
    position: relative;
    transition: border-color 200ms ease-in-out, color 200ms ease-in-out, background-color 200ms ease-in-out;
}

.post-card header a {
    position: absolute;
    color: transparent;
    inset: 0;
}

.post-card header, .portfolio-card header {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    justify-content: space-between;
    border-bottom: 2px solid var(--accent-color-transparent);
}

.category-card header h4 {
    padding: 0 0.5rem;
}

.post-card header:hover {
    border-color: var(--accent-color);
    color: #fff;
}

.post-card header:hover .header-nav-arrow {
    opacity: 1;
    transform: translateX(0.5rem);
}

article header h4 {
    margin: 0;
    display: flex;
    gap: 1rem;
}

#post-container header, article header, article footer {
    align-items: center;
}

.post-card header .header-nav-arrow {
    opacity: 0.65;
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.post-card, .portfolio-card {
    border: 1px solid var(--more-transparent-color-light);
    border-radius: 0.25rem;
    margin-top: 2rem;
}

#portfolio-container {
    margin-top: 4rem;
}

.portfolio-card footer {
    background-color: var(--main-bg-color);
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
}

.portfolio-card footer a {
    text-decoration: none;
}

.portfolio-card .description {
    border-radius: 0;
}

.description {
    padding: 1.5rem 1.25rem;
    background-color: var(--more-transparent-color-light);
    min-height: 4rem;
}

.description p {
    margin: 0;
}

.btn-primary {
    background-color: var(--accent-color-transparent);
    border: 1px solid var(--accent-color-less-transparent);
    border-radius: 0.25rem;
    color: var(--main-text-color);
    transition: color 200ms ease-in-out, border-color 200ms ease-in-out, background-color 200ms ease-in-out;
    padding: 0.5rem 0.75rem;
}

.btn-primary:hover {
    background-color: var(--accent-color-less-transparent);
    color: #000;
    border-color: var(--secondary-bg-color);
}

.btn-secondary {
    background-color: var(--secondary-bg-color);
    color: var(--main-text-color);
    border: 1px solid var(--accent-color-transparent);
    border-radius: 0.25rem;
    padding: 0.3rem 0.5rem;
    transition: color 200ms ease-in-out, border-color 200ms ease-in-out;
    font-weight: 500;
    font-size: 0.8rem;
}

.btn-secondary:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

#categories {
    border-bottom: 1px solid var(--transparent-color-light);
}

#categories-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 1rem 0 2rem 0;
}

.active-category, .active-category:hover {
    background-color: #000;
    color: var(--accent-color);
    border-color: var(--accent-color-transparent);
    cursor: default;
}

#login-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0 1rem 0;
}

.htmx-indicator {
    opacity: 0;
    visibility: hidden;
}

#loader > p {
    margin: 0 !important;
}

.htmx-request .htmx-indicator {
    opacity: 1;
    visibility: visible;
    transition: opacity 200ms ease-in-out;
}

.center {
    text-align: center;
}

.full-width {
    width: 100%;
}

.login-error-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.spacer {
    padding: 0.5rem 0;
}

#error-section {
    margin: 1rem auto;
}

#error-field {
    margin: auto;
    font-size: 1.25rem;
}

/* * SINGLE POST STYLES * */
img[src$="#inline-img"] { /* for commonmark: syntax = ![Alt](/url#inline-img) */
    display: inline;
}
img[src$="#full-width-img"] { /* for commonmark: syntax = ![Alt](/url#full-width-img) */
    display: block;
    width: 100%;
}
#post-header {
    flex-wrap: wrap;
    border-bottom: 1px solid var(--transparent-color-light);
}
#post-text {
    padding: 1rem 0 2rem 0;
}
#post-content {
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 1px solid var(--transparent-color-light);
}

.about-image {
    float: right;
    margin: 0 0 0.5rem calc(0.5rem + 2vw);
    width: 8rem;
    border-radius: 0.25rem;
}
#sidebar {
    display: none;
}
#sidebar nav ol {
    padding-left: 0;
}
#sidebar nav ol li {
    list-style: none;
}
#sidebar-menu ul {
    display: block;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
}
#sidebar-menu ul li {
    border-left: 1px dashed var(--transparent-color-light);
}
.sidebar-nav-item {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--main-text-color-transparent);
    transition: color 200ms ease-in-out, border-color 200ms ease-in-out;
}
#sidebar nav li .active-nav-link {
    color: var(--accent-color-less-transparent);
}
#sidebar-menu ul:has(.active-nav-link) > li:has(.active-nav-link) {
    border-left: 1px dashed var(--accent-color-less-transparent);
}
.last-active-nav-link {
    color: var(--accent-color) !important;
    text-decoration: underline;
}
#post-content h2  {
    margin: 2rem auto 1.5rem auto;
    scroll-margin-top: 40vh;
}
#post-content h3 {
    margin: 1.5rem auto 1rem auto;
    scroll-margin-top: 40vh;
}
#post-content li {
    padding-left: 0.5rem;
}
#post-content pre {
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--transparent-color-dark);
    color: var(--code-color);
}
.post-thumbnail {
    width: 5rem;
    height: auto;
    display: inline;
    border-radius: 0.25rem;
    transition: transform 300ms ease-in-out, background-color 200ms ease-in-out, box-shadow 300ms ease-in-out;
    float: left;
    margin-right: 1rem;
}
#post-header-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    flex: 100%;
}
#single-post-navigation-container {
    margin-top: 1rem;
}
#comments-section {
    display: flex;
    flex-direction: column;
}
#comment-form {
    margin: 0;
    padding-bottom: 1rem;
}
#comment-container {
    opacity: 1;
    transition: opacity 150ms ease-in-out;
}
#comment-container > h4 {
    padding: 1rem 0;
}
#comment-container.htmx-swapping {
    opacity: 0;
}
#comment-container > .btn-secondary {
    width: 100%;
}
#comment-container > .comment {
    margin-bottom: 2rem;
}
#comment-list:has(.comment) > .no-comments-msg {
    display: none;
}
.comment {
    background-color: var(--transparent-color-light);
    border-radius: 0.25rem;
    margin: 1rem 0;
    padding-bottom: 0.5rem;
    border: 1px solid var(--transparent-color-light);
}
.comment header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--color-dark);
    border-radius: 0.25rem 0.25rem 0 0;
    padding: 0.5rem;
    border-bottom: 2px solid var(--accent-color-transparent);
}
.comment-content {
    margin-left: 0.5rem;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    font-size: 0.9rem;
    border-left: 1px dashed var(--accent-color-transparent);
}
.comment-input {
    background-color: var(--more-transparent-color-light);
    border: 1px solid var(--transparent-color-light);
    border-radius: 0.25rem;
    padding: 0.5rem;
}
.comment-input textarea {
    background-color: transparent;
}
.comment-input .form-group {
    justify-content: space-between;
}
.comment-replies {
    margin: 0 0 0 0.5rem;
    padding-top: 0.5rem;
}
.comment-replies summary {
    position: relative;
    right: 0.5rem;
    bottom: 0.5rem;
    font-size: 1.25rem;
    cursor: pointer;
    width: 1.25rem;
    color: var(--accent-color);
}
.btn-get-replies {
    width: calc(100% - 0.5rem);
}
.comment-replies[open] > summary::marker {
    content: '\229D';
}
.comment-replies > summary::marker {
    content: '\2295';
}
.denote-reply {
    position: relative;
    line-height: 0;
    bottom: 0.25rem;
    right: 0.75rem;
    z-index: 2;
    font-size: 1.25rem;
    user-select: none;
}
.comment-replies .comment:first-of-type {
    margin-top: 0;
}
.comment-replies:has(.comment) {
    border-radius: 0;
    border-left: 1px dashed var(--accent-color-transparent);
}
.comment-replies:has(.comment) .comment {
    border-radius: 0 0 0 0.25rem;
    border-top: 1px solid var(--transparent-color-light);
    border-right: none;
    border-bottom: 1px solid var(--transparent-color-light);
    border-left: none;
    margin-left : 0.5rem;
    background-color: var(--transparent-color-dark);
}
.reply-form-container:has(.comment-input) > .btn-secondary,
.comment:has(> .comment-content .reply-form-container .comment-input) > header .edit-btn {
    display: none;
}
.comment-author-btns {
    width: fit-content;
    padding-left: 0.5rem;
}
.margin-bottom {
    margin-bottom: 1rem;
}
.inline {
    display: flex;
    align-items: center;
}

/* FORM STYLES */

#create-post-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 2rem;
}
#post-content-input {
    height: 40vh;
    background-color: var(--transparent-color-dark);
    color: var(--main-text-color);
}
label {
    width: 100%;
    display: block;
}

input,
textarea, select {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    background-color: var(--transparent-color-dark);
    border: 1px solid var(--color-light);
    color: var(--main-text-color);
    font-size: 1rem;
}
textarea {
    resize: vertical;
}
select:hover, option:hover {
    cursor: pointer;
    background-color: var(--secondary-bg-color);
}
#create-post-form label:has(input[type="checkbox"]), input[type="checkbox"] {
    width: fit-content;
    cursor: pointer;
}
.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}
.form-group > div {
    flex: 1;
    min-width: 10rem;
}
#login-modal {
    max-width: 30rem;
}
#login-article p, #register-article p {
    font-size: 0.9rem;
    text-align: center;
}
#login-article .btn-secondary, #register-article .btn-secondary {
    background-color: var(--main-bg-color);
}
#register-article div {
    text-align: center;
}
.close-btn {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    background-color: var(--main-bg-color);
    border: 1px solid var(--accent-color);
}
.close-btn:hover {
    background-color: var(--accent-color);
}
dialog {
    border: 1px solid var(--transparent-color-light);
    border-radius: 0.25rem;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    transition: opacity 200ms ease-in-out;
    padding: 0;
}
#categories-modal {
    top: 7rem;
    bottom: auto;
}

@starting-style {
    dialog {
        opacity: 0;
    }
}

dialog::backdrop {
    background-color: var(--transparent-color-dark);
}
dialog article header {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-bg-color);
    padding: 0.5rem;
    border-radius: 0.25rem 0.25rem 0 0;
    border-bottom: 1px solid var(--transparent-color-light);
}
dialog form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    padding: 1.5rem 2rem 0 2rem;
}
dialog form input[type="submit"] {
    margin-top: 1rem;
    background-color: var(--transparent-color-dark);
}
dialog #login-message {
    text-align: center;
    padding: 0.5rem 0;
}
#portfolio-urls {
    display: none;
}
#portfolio-checkbox:has(input:checked) + #portfolio-urls {
    display: flex;
    flex: 100%;
}
#byte-validator {
    display: none;
}
.error {
    color: var(--error-color);
}

/* 460-799 */
@media (min-width: 460px) {
    .nav-item {
        padding: 0.25rem 0.5rem;
    }
    #post-container > .post-card header {
        padding: 0.5rem 1rem;
    }
    .about-image {
        width: 10rem;
    }
}

/* 800-1023 */
@media (min-width: 800px) {
    #main-header {
        background-color: var(--main-bg-color);
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        padding: 1rem 2rem 0 2rem;
    }
    #main-header h2 {
        font-size: 1.5rem;
        line-height: 1.15;
    }
    #main-header h2 small {
        font-size: 1rem;
    }
    #main-content {
        padding: 2.5rem 2rem 4rem 2rem;
    }
    #nav-container {
        display: block;
        position: static;
        width: fit-content;
        opacity:1;
        transform: none;
    }
    #nav-container nav {
        overflow: visible;
        padding: 0;
    }
    nav ul, ul.group {
        flex-direction: row;
        padding: 0;
    }
    #menu-toggle-btn {
        display: none;
    }
    .nav-item {
        border-radius: 0;
        transition: background-color 200ms ease-in-out, box-shadow 200ms ease-in-out, clip-path 200ms ease-in-out;
        clip-path: inset(-4px round 12px 12px 0 0);
        box-shadow: 0 -2px 0 var(--accent-color-transparent), 1px 0 0 var(--color-light), -1px 0 0 var(--color-light);
    }
    .nav-item:hover {
        box-shadow: 0 -2px 0 var(--accent-color-less-transparent), 1px 0 0 var(--color-light), -1px 0 0 var(--color-light);
    }
    .nav-item.active {
        background-color: var(--secondary-bg-color);
        box-shadow: 0 -2px 0 var(--accent-color-less-transparent),
        1px 0 0 var(--color-light), -1px 0 0 var(--color-light), 0 2px 0 var(--secondary-bg-color);
    }
    .nav-item.active .nav-spans, .nav-item.active > svg {
        transform: translateY(0.125rem);
        opacity: 1;
    }
    .nav-item .secondary-span {
        display: inline;
    }
    nav ul {
        padding-top: 0.5rem;
    }
    .post-card header h4 {
        font-size: 1.15rem;
    }
    .post-card header span svg {
        width: 1rem;
        height: 1rem;
    }
    .about-post-content {
        gap: 2rem !important;
    }
    .about-sidebar {
        min-width: fit-content !important;
    }
    .about-image {
        width: initial;
    }
    .post-thumbnail {
        cursor: pointer;
    }
    .post-thumbnail:hover {
        background-color: var(--main-bg-color);
        transform: scale(2) translateX(0.5rem);
        z-index: 2;
        box-shadow: 0 4px 12px rgba(0,0,0,0.65);
    }
    .post-thumbnail-heading:hover {
        transform: scale(2) translateX(0.5rem) translateY(0.5rem);
    }
}

/* 1024 - 1439 */
@media (min-width: 1024px) {
    html {
        font-size: 103%;
    }
    body {
        display: flex;
        margin: 0 auto;
    }
    #main-header {
        border-right: 2px solid var(--color-light);
        border-bottom: none;
        height: 100vh;
        position: sticky;
        top: 0;
        padding: 0 0 0 2vw;
        width: 20rem;
    }
    #name-heading {
        padding: 1rem 0 0 0;
    }
    #nav-container {
        width: 100%;
    }
    nav {
        width: 100%;
    }
    #main-header nav {
        margin-top: calc(2rem + 5vh);
    }
    #main-content {
        padding: 2rem 5vw 4rem 5vw;
    }
    #main-header, #main-header section {
        display: block;
    }
    #main-content h1 {
        font-size: 2rem;
    }
    #main-header h2 {
        width: 100%;
        line-height: 1.5;
        font-size: 1.6rem;
    }
    #main-header, #main-header h2 {
        margin: 0;
    }
    #main-header h2, #contact-section {
        padding: 1.5rem 0;
    }
    #main-header nav ul {
        flex-direction: column;
        gap: 1.5rem;
        padding: 0;
    }
    .nav-item {
        justify-content: space-between;
        padding: 0.75rem 0.5rem 0.75rem 1.5rem;
        box-shadow: 0 2px 0 var(--transparent-color-light), 0 -2px 0 var(--transparent-color-light);
        animation: 400ms ease-in-out 1 nav_normal forwards;

    }
    .nav-item:hover {
        box-shadow: 0 2px 0 var(--color-light), 0 -2px 0 var(--color-light), 0 0 0 var(--secondary-bg-color);
        animation: 400ms ease-in-out 1 nav_hover forwards;
    }
    .nav-item.active {
        background-color: var(--main-bg-color);
        animation: 400ms ease-in-out 1 nav_active forwards;
        box-shadow: 0 2px 0 var(--color-light), 0 -2px 0 var(--color-light), 4px 0 0 var(--secondary-bg-color), inset 0 0 0 var(--secondary-bg-color);
    }

    @keyframes nav_active {
        from {
            box-shadow: 0 2px 0 var(--color-light), 0 -2px 0 var(--color-light), 2px 0 0 var(--color-light), inset 15vw 0 8px 2px var(--secondary-bg-color);
        }
        to {
            box-shadow: 0 2px 0 var(--color-light), 0 -2px 0 var(--color-light), 4px 0 0 var(--secondary-bg-color), inset -18rem 0 8px 2px var(--secondary-bg-color);
        }
    }
    @keyframes nav_hover {
        from  {
            box-shadow: 0 2px 0 var(--color-light), 0 -2px 0 var(--color-light), 0 0 0 var(--secondary-bg-color);
        }
        to {
            box-shadow: 0 2px 0 var(--color-light), 0 -2px 0 var(--color-light), 0 0 0 var(--secondary-bg-color), inset -16.5rem 0 8px 2px var(--secondary-bg-color);
        }
    }
    @keyframes nav_normal {
        from {
            box-shadow: 0 2px 0 var(--color-light), 0 -2px 0 var(--color-light), 0 0 0 var(--secondary-bg-color), inset -16.5rem 0 8px 2px var(--secondary-bg-color);
        }
        to {
            box-shadow: 0 2px 0 var(--color-light), 0 -2px 0 var(--color-light), 0 0 0 var(--secondary-bg-color);
        }
    }
    .nav-item svg {
        width: 1.25rem;
        height: 1.25rem;
        padding-right: 1.5rem;
    }
    .nav-item.active .nav-spans, .nav-item.active > svg {
        transform: translateX(0.25rem);
    }
    .post-card header span svg {
        width: 1.15rem;
        height: 1.15rem;
    }
    .post-thumbnail:hover {
        background-color: var(--main-bg-color);
        transform: scale(2);
        z-index: 2;
        box-shadow: 0 4px 12px rgba(0,0,0,0.65);
    }
    .post-thumbnail-heading:hover {
        transform: scale(2) translateY(0.5rem);
    }
}

/* 1440 - 1920 */
@media (min-width: 1440px) {
    #main-content {
        padding: 2rem calc(0.5rem + 5vw) 4rem calc(0.5rem + 5vw);
    }
    #post-content {
        flex-direction: row;
        justify-content: space-between;
        gap: 4vw;
    }
    #post-text {
        flex: 4;
    }
    #sidebar {
        display: block;
        border-left: 1px solid var(--more-transparent-color-light);
        flex: 1;
        padding: 3rem 0 2rem 0.5rem;
        min-width: 18rem;
    }
    #sidebar-menu {
        padding-left: 0.85rem;
        position: sticky;
        top: 2.5rem;
    }
    #welcome-text, #posts, #categories, #portfolio-container, .explain-page {
        max-width: 60vw;
    }
}

/* 1921 and up */
@media (min-width: 1921px) {
    #main-content {
        padding: 2rem 8vw 4rem 8vw;
        max-width: 125rem;
    }
    #main-header {
        padding: 0 0 0 4vw;
    }
    #name-heading {
        margin-left: -4vw;
        padding-left: 4vw;
    }
    #post-text {
        flex: 5;
    }
}