header {
    flex-wrap: wrap;
    align-items: center;
}

a {
    cursor: pointer;
}

/*grouped styles*/

header, #post-container, #categories, .post-description, .form-group,
.content-block[data-type="IMAGE"] .image-fields {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#posts, #main-content {
    opacity: 1;
    scale: 1;
    transition: all 250ms ease-in;
}

#header, .post header h5, .post footer nav,
.category-selection header h5, .post-description p {
    margin: 0;
    line-height: 1;
}

#posts.htmx-added, #posts.htmx-swapping,
#main-content.htmx-added {
    margin: 0 -1rem;
    opacity: 0;
    scale: 0.95;
}

/* blog styles */

#post-container {
    flex-wrap: wrap;
    column-gap: 1vw;
    row-gap: 0;
}

.post {
    flex: 40%;
}

.post footer {
    padding: 0 1rem;
}

.post-description {
    justify-content: left;
    align-content: center;
    gap: 1vw;
}

.post-description img {
    width: 5rem;
    height: 5rem;
    border-radius: 0.5rem;
}

#categories {
    flex-wrap: nowrap;
    gap: 1vw;
    overflow-y: scroll;
}

.category-selection {
    min-width: 10rem;
    width: 12rem;
    border: 2px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: border 200ms ease-in-out;
    text-align: justify;
}

.category-selection header {
    justify-content: center;
}

.category-selection:hover {
    border: 2px solid var(--pico-primary);
}

/* blog form styles */
.form-group {
    gap: 1rem;
}

.form-group label, .form-group select  {
    flex: 1;
}

.image-fields, .text-field {
    display: none;
}

.content-block:is([data-type="HEADING"], [data-type="PARAGRAPH"], [data-type="BLOCKQUOTE"], [data-type="CODE"]) .text-field {
    display: block;
}

.error {
    color: #d43636;
}

@media only screen and (max-width: 1024px) {
    #main-header {
        padding-bottom: 0;
    }
    nav ul {
        flex-wrap: wrap;
    }
    .post {
        flex: 100%;
    }
    #post-container, #categories {
        gap: 0.25rem;
    }
    .post-description img {
        width: 4rem;
        height: 4rem;
    }
    .form-group {
        gap: 0.25rem;
        flex-wrap: wrap;
    }
    .form-group select  {
        flex: 40%;
    }
}
