<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/shared-head}"></head>

<body>
    <div id="template">
        <header th:replace="~{components/header-components :: full-header}"></header>

        <main id="main-content">
            <section id="error-section">
                <span th:fragment="error-field" id="error-field" hx-swap-oob="true">
                    <span th:if="${errorMsg == null}" class="error">Error!</span>
                    <span th:if="${errorMsg != null}" th:text="${errorMsg}" class="error"></span>
                </span>
                <a th:hx-get="@{/blog}" hx-target="#main-content" hx-swap="outerHTML" class="anchor-link">Back To Blog</a>
            </section>
        </main>
    </div>
</body>
</html>