<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/shared-head}"></head>

<body>
    <header th:replace="~{components/header-components :: full-header}"></header>

    <main>
        <div id="main-content">
            <section id="error-section">
            <span th:fragment="error-field" id="error-field" hx-swap-oob="true" hx-trigger="loginSuccess from:body" hx-get="/clearError">
                <span th:if="${errorMsg != null}" th:text="${errorMsg}" class="error"></span>
            </span>
                <a href="/" hx-get="/" hx-target="#main-content" hx-swap="outerHTML">Home</a>
            </section>
        </div>
    </main>
</body>
</html>