<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/htmx.min.js"></script>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/pico.fluid.classless.conditional.jade.min.css">
    <title>Hello</title>
</head>
<body class="pico">

    <header>
        <h1>Welcome to my blog!</h1>
        <div sec:authorize="isAuthenticated()" th:replace="~{components/header-components :: auth-head}"></div>
        <div sec:authorize="isAnonymous()" th:replace="~{components/header-components :: login-form}"></div>
    </header>

    <main>
        <hr>
        <section>
            <div>
                Selection of categories to filter by... (Will be own component)
            </div>
        </section>
        <hr>

        <section>
            <h3>All Posts...(Will be own component as will page displaying each post)</h3>

        </section>

        <section>
            <h3>Comments... This will be within each blog post (Will be own component)</h3>

            <div hx-trigger="logoutSuccess from:body" hx-get="/removeCommentForm" hx-swap="innerHTML" hx-target="#comment-form-container"></div>
            <div hx-trigger="loginSuccess from:body" hx-get="/commentForm" hx-swap="innerHTML" hx-target="#comment-form-container"></div>

            <div id="comment-form-container">
                <div sec:authorize="isAuthenticated()" th:replace="~{components/comment-components :: comment-form-enabled}"></div>
                <div sec:authorize="isAnonymous()" th:replace="~{components/comment-components :: comment-form-disabled}"></div>
            </div>
        </section>

    </main>


</body>
</html>