<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="htmx-config" content='{"historyCacheSize": 0, "refreshOnHistoryMiss": true}'>
  <script src="/htmx.min.js" defer></script>
  <link rel="stylesheet" href="/main.css">
  <title>Create Post</title>
</head>
<body>

  <header th:replace="~{components/header-components :: full-header}"></header>

  <main id="main-content" th:fragment="create-post(post)">
    <h1>Create Post</h1>
    <section id="create-post-form-container" th:attr="data-next-index=${post.contentBlocks.size()}">

      <form action="#" th:hx-post="@{${isEditing != null ? '/blog/editPost' : '/blog/createPost'}}" id="create-post-form" hx-target="#create-post-form" hx-swap="outerHTML">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input type="hidden" th:if="${isEditing}" name="id" th:value="${post.id}"/>
        <label>Title:
          <input type="text" name="title" th:value="${post.title}" required/>
          <small th:errors="${post.title}" th:text="${#fields.errors('post.title')}" class="error"></small>
        </label>
        <label>Description:
          <textarea name="description" th:text="${post.description}" required></textarea>
          <small th:errors="${post.description}" th:text="${#fields.errors('post.description')}" class="error"></small>
        </label>
        <div class="form-group">
          <label>Thumbnail URL:
            <input type="text" name="thumbnailUrl" th:value="${post.thumbnailUrl}" required/>
            <small th:errors="${post.thumbnailUrl}" th:text="${#fields.errors('post.thumbnailUrl')}" class="error"></small>
          </label>
          <label>Thumbnail Alt:
            <input type="text" name="thumbnailAlt" th:value="${post.thumbnailAlt}" required/>
            <small th:errors="${post.thumbnailUrl}" th:text="${#fields.errors('post.thumbnailUrl')}" class="error"></small>
          </label>
        </div>

        <fieldset class="form-group">
          <legend>Categories:</legend>
          <label>Category 1:
            <select name="categoryIds[0]">
              <option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.name}" th:selected="${post.categoryIds[0] == category.id}"></option>
            </select>
          </label>
          <label>Category 2:
            <select name="categoryIds[1]">
              <option value="0" th:selected="${post.categoryIds[1] == 0}">None</option>
              <option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.name}" th:selected="${post.categoryIds[1] == category.id}"></option>
            </select>
          </label>
          <label>Category 3:
            <select name="categoryIds[2]">
              <option value="0" th:selected="${post.categoryIds[2] == 0}">None</option>
              <option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.name}" th:selected="${post.categoryIds[2] == category.id}"></option>
            </select>
          </label>
          <label>Category 4:
            <select name="categoryIds[3]">
              <option value="0" th:selected="${post.categoryIds[3] == 0}">None</option>
              <option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.name}" th:selected="${post.categoryIds[3] == category.id}"></option>
            </select>
          </label>
        </fieldset>

        <fieldset id="blocks-container">
          <legend>Content Blocks:</legend>
          <th:block th:each="block, iter : ${post.contentBlocks}">
            <div th:replace="~{components/post-components::content-block(${iter.index}, ${block})}"></div>
          </th:block>
        </fieldset>

        <div>
          <div id="byte-count"></div>
          <button type="button" id="add-block-btn"
                  hx-get="/blog/postComponent/addBlock"
                  hx-vals='js:{index: document.getElementById("create-post-form-container").dataset.nextIndex++}'
                  hx-target="#blocks-container"
                  hx-swap="beforeend">
            + Add Content Block</button>
          <!--hidden, used to trigger update of byte-count-->
          <div id="byte-validator"
               hx-post="/blog/postComponent/validateSize"
               hx-trigger="block-removed, load, keyup from:#blocks-container changed delay:400ms"
               hx-target="#byte-count"
               hx-include="closest form"></div>
          <div id="blog-error"></div>
        </div>
        <input type="submit" value="Save">
      </form>
    </section>

  </main>

</body>
</html>