<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/shared-head}"></head>

<body>
  <header th:replace="~{components/header-components :: full-header}"></header>

  <main>
    <div id="main-content" th:fragment="create-post">
      <h1 th:text="${isEditing ? 'Edit Post' : 'Create Post'}"></h1>
      <section id="create-post-form-container">
        <button th:if="${isEditing}" th:hx-get="@{/blog/post/{id}/{slug}(id = ${post.id}, slug = ${post.slug})}" hx-target="#main-content" hx-swap="outerHTML" hx-confirm="Are you sure? Changes will be lost!" class="btn-primary">Back To Post</button>
        <button th:if="${!isEditing}" th:hx-get="@{/blog}" hx-target="#main-content" hx-swap="outerHTML" hx-confirm="Are you sure? Content will be lost!" class="btn-primary">Back To Blog</button>

        <form action="#" th:hx-post="@{${isEditing ? '/blog/post/editPost' : '/blog/post/createPost'}}" id="create-post-form" hx-target="#main-content" hx-swap="outerHTML">
          <input type="hidden" th:if="${isEditing}" name="id" th:value="${post.id}"/>

          <label>In Progress?:
            <input type="checkbox" name="inProgress" th:checked="${post.inProgress}"/>
          </label>

          <label>Title:
            <input type="text" name="title" th:value="${post.title}"/>
            <small th:errors="${post.title}" class="error"></small>
          </label>

          <label>Description:
            <textarea name="description" id="description-input" th:text="${post.description}" required></textarea>
            <small th:errors="${post.description}" class="error"></small>
          </label>

          <div class="form-group">
            <div>
              <label>Thumbnail URL:
                <input type="text" name="thumbnailUrl" th:value="${post.thumbnailUrl}"/>
                <small th:errors="${post.thumbnailUrl}" class="error"></small>
              </label>
            </div>
            <div>
              <label>Thumbnail Alt:
                <input type="text" name="thumbnailAlt" th:value="${post.thumbnailAlt}"/>
                <small th:errors="${post.thumbnailUrl}" class="error"></small>
              </label>
            </div>
          </div>

          <div class="form-group">
            <div>
              <label>Category 1:
                <select name="categoryIds[0]">
                  <option value="0" th:selected="${post.categoryIds[0] == 0}">None</option>
                  <option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.name}" th:selected="${post.categoryIds[0] == category.id}"></option>
                </select>
              </label>
            </div>
            <div>
              <label>Category 2:
                <select name="categoryIds[1]">
                  <option value="0" th:selected="${post.categoryIds[1] == 0}">None</option>
                  <option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.name}" th:selected="${post.categoryIds[1] == category.id}"></option>
                </select>
              </label>
            </div>
            <div>
              <label>Category 3:
                <select name="categoryIds[2]">
                  <option value="0" th:selected="${post.categoryIds[2] == 0}">None</option>
                  <option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.name}" th:selected="${post.categoryIds[2] == category.id}"></option>
                </select>
              </label>
            </div>
            <div>
              <label>Category 4:
                <select name="categoryIds[3]">
                  <option value="0" th:selected="${post.categoryIds[3] == 0}">None</option>
                  <option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.name}" th:selected="${post.categoryIds[3] == category.id}"></option>
                </select>
              </label>
            </div>
          </div>

          <label>Content: <br><a href="https://commonmark.org/help/" target="_blank" rel="noopener noreferrer">Markdown Reference</a>
            <textarea name="content" id="post-content-input" th:text="${post.content}" required></textarea>
            <small th:errors="${post.content}" class="error"></small>
          </label>

          <div>
            <div id="size-count"></div>
            <!--hidden, used to trigger update of size-count-->
            <div id="byte-validator"
                 hx-post="/blog/postComponent/validateSize"
                 hx-trigger="load, keyup from:#post-content-input changed delay:5s"
                 hx-target="#size-count"
                 hx-include="#post-content-input"></div>

            <div id="error-field"></div>
          </div>
          <input type="submit" value="Save" class="btn-primary">
        </form>
      </section>

      <div th:replace="~{components/auth-components::csrf-refresh}"></div>
      <span th:replace="~{components/auth-components::csrf-token}" id="csrf-token"></span>
    </div>
  </main>

</body>
</html>