<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/shared-head}"></head>

<body>

    <header th:replace="~{components/header-components :: full-header}"></header>

    <main>
        <div th:fragment="about-main" id="main-content" hx-on:htmx:load="initSidebar()">
            <header id="post-header" class="about-header">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" aria-hidden="true" focusable="false">
                    <path d="M512 80c8.8 0 16 7.2 16 16l0 320c0 8.8-7.2 16-16 16L64 432c-8.8 0-16-7.2-16-16L48 96c0-8.8 7.2-16 16-16l448 0zM64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l448 0c35.3 0 64-28.7 64-64l0-320c0-35.3-28.7-64-64-64L64 32zM208 248a56 56 0 1 0 0-112 56 56 0 1 0 0 112zm-32 40c-44.2 0-80 35.8-80 80 0 8.8 7.2 16 16 16l192 0c8.8 0 16-7.2 16-16 0-44.2-35.8-80-80-80l-64 0zM376 144c-13.3 0-24 10.7-24 24s10.7 24 24 24l80 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-80 0zm0 96c-13.3 0-24 10.7-24 24s10.7 24 24 24l80 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-80 0z"/>
                </svg>
                <h1>About Me</h1>
            </header>

            <noscript>
                <th:block th:replace="~{components/auth-components::noscript}"></th:block>
            </noscript>

            <article id="post-content">
                <div id="post-text">
                    <section id="welcome-text">
                        <h2>Hi, I'm Shawn</h2>
                        <!--src="https://cdn.shawnosborne.dev/images/me.jpg"-->
                        <img src="/me.jpg" alt="My Portrait" class="post-image about-image"/>
                        <p><strong>. . . I build full stack applications from design to deployment.</strong></p>
                        <h3>My Background</h3>
                        <p>
                            As a Software Engineer, I have gained experience building JSON and Hypertext API backends with <strong>Java and Spring Boot</strong>, as well as with Node and Express.js.
                            On the frontend, I have built lightweight UIs with <strong>Vue.js, HTMX</strong>, and vanilla <strong>JavaScript and CSS</strong>.
                        </p>
                        <p>
                            I hold a <strong>Bachelor's Degree in Software Engineering</strong> and <strong>certificates in AWS and Project Management</strong>,
                            knowledge I apply to build scalable and maintainable architectures and workflows.
                        </p>
                    </section>
                    <section class="about-section">
                        <h2>About This Site</h2>
                        <p>
                            On this website, I showcase my projects, write about their underlying technologies, share my hobbies,
                            and anything else that I want to put out into the world.
                        </p>
                        <p>
                            Everything is written in my own words and opinions. It serves as a personal space for self-reflection and retrospection,
                            for sharing what I have learned and am currently learning, and connecting with the people reading it.
                            I hope to inspire others to create their own corner of the web and push back against the constant noise
                            of the modern internet. As such, there will be <strong>no Ads, AI-generated content, or analytics</strong> found here.
                        </p>
                        <p>
                            Welcome to my corner of the web!
                        </p>
                        <p><small><i>Updated: June 2026</i></small></p>
                    </section>
                    <section id="contact-info" class="about-section">
                        <h2>Contact Info</h2>
                        <p>Feel free to get in contact with me through email or at one of these.</p>
                        <ul>
                            <li><span style="unicode-bidi:bidi-override; direction:rtl">moc [tod] liamg [ta] golb.oiloftrop.snwahs</span></li>
                            <li><a href="https://github.com/ShawnWebDev" target="_blank" rel="noopener noreferrer">GitHub</a></li>
                            <li><a href="https://linkedin.com/in/shawnosbornedev" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
                        </ul>
                    </section>
                    <section class="about-section">
                        <h2>Education</h2>
                        <h3>School</h3>
                        <ul>
                            <li>Bachelor of Science, Software Engineering - Western Governors University -- <i>Sept 2023 - Sept 2025</i></li>
                            <li>Associate of Applied Science, Web Programming - Rasmussen University -- <i>Oct 2020 - Aug 2022</i></li>
                        </ul>
                        <h3>Certification</h3>
                        <ul>
                            <li>WGU Back End Developer -- <i>November 2024</i></li>
                            <li>CompTIA Project+ -- <i>July 2024</i></li>
                            <li>AWS Certified Cloud Practitioner -- <i>October 2023</i></li>
                            <li>Udacity Front End Developer -- <i>February 2023</i></li>
                        </ul>
                    </section>
                    <section class="about-section">
                        <h2>What I'm Doing</h2>
                        <h3>Learning</h3>
                        <ul>
                            <li>
                                <a href="/portfolio" hx-get="/portfolio" hx-target="#main-content" hx-swap="outerHTML swap:150ms show:window:top">Software development projects</a>
                            </li>
                            <li>Linear algebra</li>
                            <li>Experimenting with local AI</li>
                            <li>Supplementing my son's learning in social studies, math, & science</li>
                            <li>Practicing Tae Kwon Do</li>
                        </ul>
                        <h3>Leisure</h3>
                        <ul>
                            <li>Writing and tinkering with this website</li>
                            <li>Tending to my garden and aquarium</li>
                            <li>Being a good cook &#128517</li>
                            <li>Playing Magic The Gathering and a few different video games (Baldur's Gate 3, Factorio, ARC Raiders, Minecraft with my son)</li>
                        </ul>
                    </section>
                    <section class="about-section">
                        <h2>Tools & Skills</h2>
                        <h3>Current Tech Stack</h3>
                        <ul>
                            <li><strong>Infrastructure:</strong> Linux / AWS / CloudFront / EC2 / S3</li>
                            <li><strong>Backend:</strong> Java / Spring Boot Framework</li>
                            <li><strong>Database:</strong> MariaDB</li>
                            <li><strong>Frontend:</strong> HTMX or Vue.js & JavaScript / CSS</li>
                        </ul>
                        <h3>Current Software Tools</h3>
                        <ul>
                            <li><strong>IDE:</strong> IntelliJ IDEA</li>
                            <li><strong>Database Management:</strong> DBeaver, Command Line Client</li>
                            <li><strong>Infrastructure:</strong> AWS</li>
                            <li><strong>Shell & Scripting:</strong> Bash & Python</li>
                            <li><strong>Design:</strong> Figma, Draw.io, Web Browser</li>
                        </ul>
                        <h3>Other Familiar Tech</h3>
                        <ul>
                            <li><strong>OS:</strong> Linux, Windows</li>
                            <li><strong>Containerization:</strong> Docker</li>
                            <li><strong>Programming:</strong> Java, Python, SQL, JavaScript, CSS, HTML</li>
                            <li><strong>Frameworks:</strong> Spring Boot, Hibernate, Vue.js</li>
                            <li><strong>Testing:</strong> JUnit, Mockito, Testcontainers, Jest</li>
                            <li><strong>Methodology:</strong> Waterfall / Agile (XP, Kanban, Scrum)</li>
                            <li><strong>Architecture:</strong> MVC, REST, SPA</li>
                            <li><strong>UI/UX:</strong> Web Content Accessibility, Wireframing / Prototyping, Mobile-First / Responsive Web Design</li>
                        </ul>
                        <h2>Hardware</h2>
                        <h3>Main System</h3>
                        <ul>
                            <li>Linux Mint</li>
                            <li>AMD Ryzen 5 3600</li>
                            <li>AMD Radeon RX 6750 XT 12GB</li>
                            <li>4x 8GB Corsair LPX DDR4 3200 RAM</li>
                            <li>2TB Crucial PCI Express NVME drive</li>
                            <li>256GB Western Digital Blue SATA SSD</li>
                            <li>1TB Western Digital Blue 7200 RPM HDD</li>
                            <li>36" ViewSonic 1440p monitor</li>
                            <li>32" ASUS 1080p monitor</li>
                            <li>Manual crank standup/sitdown desk</li>
                        </ul>
                        <h3>Other Systems</h3>
                        <strong>Headless Local Server</strong>
                        <ul>
                            <li>2GB Raspberry Pi 4, Linux Raspberry Pi OS lite, 32GB MicroSD, 32GB USB 3 Flash Drive for backup</li>
                        </ul>
                        <strong>Web Server</strong>
                        <ul>
                            <li>2GB t4g.small EC2, Amazon Linux</li>
                        </ul>
                        <strong>Laptop</strong>
                        <ul>
                            <li>16" ASUS ZenBook, 8th Gen Intel I7, 16GB RAM, 256MB SSD, 1TB HDD, Windows 11 / Linux Mint Dual Boot</li>
                        </ul>
                    </section>
                </div>
                <aside id="sidebar">
                    <button id="sidebar-toggle" class="btn-primary" onclick="toggleSidebar()"><span>&#8595</span>Table of Contents<span>&#8595</span></button>
                    <nav id="sidebar-menu"></nav>
                </aside>
            </article>
        </div>
    </main>
</body>
</html>