<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/shared-head}"></head>

<body>

    <header th:replace="~{components/header-components :: full-header}"></header>

    <main>
        <div th:fragment="portfolio-main" id="main-content">
            <header id="post-header">
                <div id="post-header-content">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" aria-hidden="true" focusable="false">
                        <path d="M360.8 1.2c-17-4.9-34.7 5-39.6 22l-128 448c-4.9 17 5 34.7 22 39.6s34.7-5 39.6-22l128-448c4.9-17-5-34.7-22-39.6zm64.6 136.1c-12.5 12.5-12.5 32.8 0 45.3l73.4 73.4-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l96-96c12.5-12.5 12.5-32.8 0-45.3l-96-96c-12.5-12.5-32.8-12.5-45.3 0zm-274.7 0c-12.5-12.5-32.8-12.5-45.3 0l-96 96c-12.5 12.5-12.5 32.8 0 45.3l96 96c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 150.6 182.6c12.5-12.5 12.5-32.8 0-45.3z"/>
                    </svg>
                    <h1>My Portfolio</h1>
                </div>
            </header>

            <div id="error-field"></div>
            <noscript>
                <th:block th:replace="~{components/auth-components::noscript}"></th:block>
            </noscript>

            <section id="portfolio-container">
                <header>
                    <h2>
                        Websites, games, and applications that I have designed and developed.
                    </h2>
                </header>
                <div>
                    <article th:each="entry : ${entries}" class="portfolio-card">
                        <header>
                            <h4 th:text="${entry.title}"></h4>
                            <small><time th:text="${@timeUtil.toRelativeTime(entry.createdAt)}" class="time-field"></time></small>
                        </header>
                        <section class="description">
                            <img th:if="${!entry.thumbnailUrl.isBlank()}" th:src="${entry.thumbnailUrl}" th:alt="${entry.thumbnailAlt}" class="post-thumbnail"/>
                            <p th:text="${entry.description}"></p>
                        </section>
                        <footer>
                            <a th:href="@{/blog/post/{id}/{slug}(id = ${entry.id}, slug = ${entry.slug})}" th:hx-get="@{/blog/post/{id}/{slug}(id = ${entry.id}, slug = ${entry.slug})}"
                               hx-target="#main-content" hx-swap="outerHTML swap:150ms show:window:top" class="btn-secondary">
                                Article
                            </a>
                            <a th:if="${!entry.codeUrl.isBlank()}" th:href="${entry.codeUrl}" class="btn-secondary" target="_blank" rel="noopener noreferrer">
                                Source
                            </a>
                            <a th:if="${!entry.demoUrl.isBlank()}" th:href="${entry.demoUrl}" class="btn-secondary" target="_blank" rel="noopener noreferrer">
                                Demo
                            </a>
                        </footer>
                    </article>
                </div>
            </section>
        </div>
    </main>

</body>
</html>