<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{components/shared-head}"></head>

<body>
    <header th:replace="~{components/header-components :: full-header}"></header>

    <main>
        <div th:fragment="single-post" id="main-content" hx-on:htmx:load="initSidebar();">
            <header id="post-header">
                <div id="post-header-content">
                    <img th:if="${!entry.thumbnailUrl.isBlank()}" th:src="${entry.thumbnailUrl}" th:alt="${entry.thumbnailAlt}" class="post-thumbnail post-thumbnail-heading"/>
                    <h1 th:text="${entry.title}" id="entry-title"></h1>
                </div>
                <section id="single-post-navigation-container">
                    <strong>Associated categories:</strong>
                    <div id="categories-container">
                        <button th:each="category : ${entry.categoryNames}"
                                th:hx-get="@{/blog/posts(categoryName=${category})}"
                                hx-target="#main-content" hx-swap="outerHTML swap:150ms"
                                th:text="${category}"
                                th:title="'View posts in ' + ${category} + '.'"
                                th:aria-label="'View all posts in ' + ${category} + ', navigates to blog dashboard.'" class="btn-secondary">
                        </button>
                    </div>
                    <p th:if="${entry.categoryNames.size() == 0}">No associated categories.</p>
                </section>
            </header>

            <noscript>
                <th:block th:replace="~{components/auth-components::noscript}"></th:block>
            </noscript>

            <article id="post-content" class="single-post-content">
                <section id="post-text">
                    <p th:text="${entry.description}"></p>
                    <div th:utext="${entry.getContent()}"></div>
                </section>
                <aside id="sidebar">
                    <button id="sidebar-toggle" class="btn-primary" onclick="toggleSidebar()"><span>&#8595</span>Table of Contents<span>&#8595</span></button>
                    <nav id="sidebar-menu"></nav>
                </aside>
            </article>

            <section th:replace="~{components/post-components::admin-buttons(${entry.id})}"></section>

            <div id="error-field"></div>

            <section id="auth-section">
                <div sec:authorize="isAuthenticated()" th:replace="~{components/auth-components::logout-button-post}"></div>
                <div sec:authorize="isAnonymous()" th:replace="~{components/auth-components::login-button-post}"></div>
                <span th:replace="~{components/auth-components::csrf-token}" id="csrf-token"></span>
            </section>

            <section th:replace="~{components/comment-components::comment-section}" id="comments-section"></section>

            <script th:if="${param.sessionExpired != null}">
                document.getElementById('login-modal').showModal();
            </script>
        </div>
    </main>
</body>
</html>