<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/htmx.min.js" defer></script>
    <link rel="stylesheet" href="/main.css">
    <title>Blog</title>
</head>
<body>

    <header th:replace="~{components/header-components :: full-header}"></header>

    <main th:fragment="single-post" id="main-content">

        <section>

        </section>


        <!-- todo: needs comments section component-->
    </main>

</body>
</html>