<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{components/shared-head}"></head>

<body>

    <header th:replace="~{components/header-components :: full-header}"></header>

    <main>
        <div th:fragment="single-post" id="main-content">
            <header id="post-header">
                <img th:src="${entry.thumbnailUrl}" th:alt="${entry.thumbnailAlt()}" class="post-header-image"/>
                <div id="post-header-content">
                    <h1 th:text="${entry.title}" id="entry-title"></h1>
                    <button hx-get="/blog" hx-swap="outerHTML swap:150ms" hx-target="#main-content" class="btn-secondary">Blog Dashboard</button>
                </div>

                <div id="single-post-navigation-container">
                    <th:block th:each="category : ${entry.categories}">
                        <button th:hx-get="@{/blog/blogComponent/posts(categoryName=${category})}" hx-target="#main-content" hx-swap="outerHTML swap:150ms" th:text="${category}"
                                th:title="'View all posts in ' + ${category}" th:aria-label="'View all posts in ' + ${category} + ' - navigates to blog'" class="btn-secondary"></button>
                    </th:block>
                    <p th:if="${entry.categories.size() == 0}">No associated categories.</p>
                </div>
            </header>

            <section th:utext="${entry.contentHtml}" id="post-content"></section>

            <section th:replace="~{components/post-components::admin-buttons(${entry.id})}"></section>

            <!-- todo: needs comments section component-->
            <section>
                <div sec:authorize="isAuthenticated()" th:replace="~{components/auth-components::logout-button-post}"></div>
                <div sec:authorize="isAnonymous()">
                    <p>Please log in to comment.</p>
                    <div th:replace="~{components/auth-components::login-button}"></div>
                </div>
                <span th:replace="~{components/auth-components::csrf-token}" id="csrf-token"></span>
            </section>

            <div id="error-field"></div>
        </div>
    </main>

</body>
</html>